html {
	scroll-behavior: smooth;
	max-width: 100vw;
	height: 100%;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

body {
	display: grid;
	grid-template-rows: 1fr auto;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Common Pixel', -apple-system, Fira Sans, Helvetica Neue, sans-serif;
}                                             

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.footer {
    font-family: -apple-system, Fira Sans, Helvetica Neue, sans-serif;
	grid-row-start: 2;
	grid-row-end: 3;
    width: 100%;
    height: 60px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
}
