html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Common Pixel', -apple-system, Fira Sans, Helvetica Neue, sans-serif;
}                                                

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}